@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');


/* =========================================
	カラー設定
=========================================-*/

:root {

	/***** ベースカラー *****/
	--color-main: #FFFFFF;
	--color-sub: #E8F1EE;
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-text: #333333;
	--color-link: #000000;
	--color-border: #DDE8E4;
	--color-accent: #B65F43;


	/***** header・footer *****/
	--header-bg: var(--color-main);
	--header-text: var(color-text);

	--footer-bg: var(--color-black);
	--footer-text: var(--color-white);


	/***** main *****/
	--main-bg: var(--color-white);
	--main-text: var(--color-text);


	/***** aside *****/
	--aside-bg: var(--color-main);

	/***** nav *****/
	--nav-bg: var(--color-link);
	--nav-text: var(--color-white);

	--breadcrumb-bg: var(--color-white);
	--pagelink-bg: var(--color-white);


	/***** a *****/
	--link-text: var(--color-text);
	--link-bg: var(--color)


	/***** border *****/
	--border-color: var(--color-border);

	/***** work-accent *****/
	--accent-text: var(--color-accent);



}



/* =========================================
	全体
=========================================-*/


* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-text);
	background-color: var(--color-white);
}



/* ========================================
   コンテナ
======================================== */


.container {
	width: 100%;
	height: 100vh;
	min-height: 0;

	display: grid;
	grid: "header"
		  "main"
		  "footer";

	grid-template-rows: 60px 1fr 50px;
	grid-template-columns: 1fr;

	position: relative;
	overflow: hidden;

}



/* ========================================
   リンク
======================================== */


a {
	text-decoration: none;
	color: var(--link-text);
}

a:hover {
	opacity: 0.7;
}



/* ========================================
   header
======================================== */

header {
	grid-area: header;

	display: grid;
	grid-template-columns: 1fr auto;
	place-items: center;

	background-color: var(--header-bg);
	background-color: var(--header-text);
}


header a {
	font-family: "Klee One", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.4rem;
	letter-spacing: 0.4rem;

	color: var(--header-text);
}


header div {
	justify-self: end;
	padding-right: 20px;
}



/* =========================================
	ハンバーガーメニュー
========================================== */


/* チェックボックス本体 */

#menu-toggle {
	display: none;
}


/* ☰ のlabel */

header label[for="menu-toggle"] {
	justify-self: start;

	position: absolute;
	top: 15px;
	left: 15px;

	z-index: 20;

	display: flex;
	width: 30px;
	height: 30px;

	align-items: center;
	justify-content: center;

	cursor: pointer;
}


/* indexではハンバーガーは隠す */

.container.index header label[for="menu-toggle"] {
	display: none;
}



/* =========================================
	main
========================================== */


main {
	grid-area: main;

	width: 100%;
	min-width: 0;
	min-height: 0;
	overflow: hidden;

	background-color: var(--main-bg);
	color: var(--main-text);
}


#content {
	width: 100%;
	min-height: 0;
}


/* main内コンテンツ */

.main-image {
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/* main内の画像 */

.main-image img {
	display: block;
	width: 100%;
	height: 500px;
	object-fit: cover;

	transition: transform 0.5s ease, filter 0.5s ease;
	transform: scale(1);
	filter: blur(0);
}


/* main内の画像 マウスホバー時 */

.main-image:hover img {
	transform: scale(1.02);
	filter: blur(2px);
}



/* =========================================
	aside
========================================== */

aside {
	position: absolute;

	top: 160px;
	left: 50px;

	z-index: 10;

	width: 240px;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px;

	background-color: var(--aside-bg);
}


/* index以外ではasideを非表示 */

.container:not(.index) aside {
	display: none;
}



/* ========================================
   aside内のリスト
======================================== */

aside ul {
	display: grid;
	gap: 50px;

	place-items: center;

	padding: 0;
	margin: 0;

	list-style: none;

	font-size: 0.9em;
	font-weight: bold;
}



/* ========================================
   overlay
======================================== */

.overlay {
	display: none;

	position: fixed;
	inset: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, .3);

	cursor: pointer;
}



/* ========================================
   ハンバーガーON時
======================================== */

/* チェックが入ったらoverlayを表示 */

#menu-toggle:checked ~ .overlay {
	display: block;
}


/* チェックが入ったらasideを表示 */

#menu-toggle:checked ~ aside {
	display: flex;
}



/* =========================================
	footer
========================================== */


footer {
	grid-area: footer;

	display: flex;
	align-items: center;
	justify-content: right;
	font-size: 0.9rem;

	margin: 0;
	padding-right: 1.5rem;

	color: var(--footer-text);
	background-color: var(--footer-bg);
}



/* =========================================
	sp
========================================== */


@media(max-width: 767px){

	/* ===== header ===== */

	header a {
		font-size: 1rem;
	}




	/* ===== main ===== */

	main {
		margin-bottom: 30px;
	}

	.main-image {
		width: 100%;
		height: 300px;
		overflow: hidden;
	}

	/* main内の画像 */
	.main-image img {
		position: relative;
		top: -50px;
		left: 0;
	}



	/* ===== aside非表示 ===== */

	.container.index aside {
		display: none;
	}



	/* ===== ハンバーガーメニュー表示 ===== */

	.container.index header label[for="menu-toggle"] {
		display: block;
	}



	/* ===== aside ===== */

	aside {
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.7);
	}

	aside a {
		background: transparent;
	}

	/* overlay表示 */
	.overlay {
		background: rgba(0,0,0,0.5);
	}



	/* ===== footer ===== */

	footer {
		justify-content: center;
	}


}


