@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import "reset.css";

/* =========================================
	カラー設定
=========================================-*/

:root {

	/***** ベースカラー *****/
	--color-main: #FFFFFF;
	--color-sub: #E8F1EE;
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-text: #333333;
	--color-accent: #a6b570;


	/***** header・footer *****/
	--header-bg: var(--color-main);
	--header-text: var(color-text);

	--footer-bg: var(--color-black);
	--footer-text: var(--color-white);


	/***** main *****/
	--main-bg: var(--color-white);
	--main-text: var(--color-text);


	/***** nav *****/
	--nav-bg: var(--color-main);
	--nav-text: var(--color-text);
	--nav-home: var(--color-accent);


	/***** a *****/
	--link-text: var(--color-text);
	--link-bg: var(--color);


	/***** work-accent *****/
	--accent-text: var(--color-accent);



}



/* =========================================
	全体
=========================================-*/


html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 20px;
	color: var(--color-text);
	background-color: var(--color-white);
}



/* ========================================
   コンテナ
======================================== */


.container {
	width: 100%;
	min-height: 100vh;
	height: auto;

	display: grid;
	grid: "nav"
		  "header"
		  "main"
		  "footer";
	grid-template-rows: 40px var(--header-height) 1fr 50px;
	grid-template-columns: 1fr;
	position: relative;
}


.container.index {
	--header-height: 430px;
}


/* ========================================
   リンク
======================================== */


a {
	text-decoration: none;
	color: var(--link-text);
}

a:hover {
	opacity: 0.7;
}



/* ========================================
   id="nav"
======================================== */


#nav {
	grid-area: nav;

	position: sticky;
	top: 0;
	z-index: 100;

	width: 100%;
	text-align: center;

	background-color: var(--nav-bg);

}



/* ========================================
   nav内のリスト
======================================== */


#nav ul {
	width: 100%;
	height: 100%;

	display: flex;
	gap: 20px 50px;
	justify-content: center;
	align-items: center;
}


#nav a {
	display: block;

	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.2rem;

	color: var(--nav-text);
}


#nav .nav-home a {
	color: var(--nav-home);
}




/* =========================================
	header
========================================== */


header {
	grid-area: header;
	position: relative;

	width: 100%;
	min-width: 0;
	min-height: 0;
	overflow: hidden;
}

header h1 {
	position: absolute;

	top: 160px;
	left: 50px;
	z-index: 10;

	width: 300px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50% 50% 45% 55% / 60% 60% 40% 40%;
	/* 左上 右上 右下 左下 / 水平左上 水平右上 水平右下 水平左下 */

	padding: 30px;

	background-color: var(--header-bg);
}


header h1::after {
	content: "";
	position: absolute;
	bottom: -6px;
	right: 45px;

	/* 三角形の作成 */
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 0 16px;
	border-color: var(--header-bg) transparent transparent transparent;

	transform: rotate(-15deg);
}


header h1 a {
	font-family: "Klee One", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.4rem;
	letter-spacing: 0.4rem;

	color: var(--header-text);
}


/* header内コンテンツ */

.mv-bg {
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/* header内の画像 */

.mv-bg img {
	display: block;
	width: 100%;
	height: 500px;
	object-fit: cover;

	transition: transform 0.5s ease, filter 0.5s ease;
	transform: scale(1);
	filter: blur(0);
}


/* header内の画像 マウスホバー時 */

.mv-bg:hover img {
	transform: scale(1.02);
	filter: blur(2px);
}



/* =========================================
	main
========================================== */


main {
	grid-area: main;

	width: 100%;
	min-width: 0;
	min-height: 0;

	place-items: center;

	background-color: var(--main-bg);
	color: var(--main-text);
}



main div {
	width: 80%;
}


/* =========================================
	footer
========================================== */


footer {
	grid-area: footer;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding-right: 1.5rem;

	color: var(--footer-text);
	background-color: var(--footer-bg);
}



/* =========================================
	sp
========================================== */


@media(max-width: 767px){

	/* ===== container ===== */

	.container.index {
		--header-height: 300px;
	}



	/* ===== id="nav" ===== */

	#nav ul {
		gap: 10px 25px;
	}

	#nav a {
		font-size: 1rem;
		letter-spacing: 0.1rem;
	}


	/* ===== header ===== */

	header h1 {
		position: absolute;

		top: 30px;
		left: 10px;

		width: 180px;

		padding: 20px 30px;
	}

	header h1 a {
		font-size: 0.9rem;
		letter-spacing: 0.2rem;
	}


	/* main内の画像 */
	.mv-bg img {
		height: 390px;
	}





	/* ===== main ===== */

	main {
		margin-bottom: 30px;
	}

	main div {
		width: 100%;
	}


}


