@charset "UTF-8";


/* =========================================
	全体
=========================================-*/

* {
	box-sizing: border-box;
}


article {
	width: 100%;
	margin: 0;
	padding: 20px;

    animation: content-fade 0.3s ease;
}


@keyframes content-fade {
	from {
	opacity: 0;
	transform: translateY(8px);
	}

	to {
	opacity: 1;
	transform: translateY(0);
	}
}




/* =========================================
	h2
=========================================-*/



/* =========================================
	h2
=========================================-*/

.page h2 {
	font-size: 1.2em;
    letter-spacing: 0.1em;
	font-weight: bold;
	margin-bottom: 10px;

	color: var(--page-h2-color);
}



/* =========================================
	p
=========================================-*/

article p {
	line-height: 1.8;
}



/* =========================================
	sp
========================================== */


@media(max-width: 767px){

	article p {
		margin-bottom: 10px;
	}

}