@charset "UTF-8";


/* ---------------------------------------*/
/* work 共通設定 */
/* ---------------------------------------*/


.work-group {
	display: grid;
	gap: 5rem;
	padding: 2rem;
}


.col1-flex p {
	padding: 0 3rem;
}


/* ---------------------------------------*/
/* work02 */
/* ---------------------------------------*/

.work02 {
	grid-template-rows: 1fr;
	gap: 0;
}


.work02 ul {
	display: flex;
	flex-direction: column;
	gap: 0.6rem 0;
}

.work02 li {
	padding-left: 1.2em;
}

.work02 li::before {
	content: "▪";
}

.col2-flex.reverse {
	flex-direction: row-reverse;
}


/***** work02-header *****/

.work02 .work-header {
	display: grid;
	place-items: center;
	margin-bottom: 2.5rem;
}

.work02 .work-header img {
	max-width: 80%;
}

.work02 .work-header h3 {
	display: inline-block;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	text-align: center;
	border-top: 3px double #333;
	border-bottom: 3px double #333;
	margin: 2rem auto 1.5rem;
	padding: 10px 5px;
}

.work02 .work-header span {
	display: block;
	padding: 5px 0 0 0;
	font-size: 0.8em;
	font-weight: normal;
}

.work02 .work-header p {
	line-height: 1.6rem;
	text-align: center;
}



/***** work02-col1-flex *****/

.work02 .col1-flex {
	gap: 1.5rem;
	place-items: center;
	padding: 4rem auto 6rem;
	background-color: #f5f2ee;
}

.work02 .col1-flex:last-of-type{
	margin-bottom: 3rem;
}

.work02 .col1-flex h4 {
	width: 100%;
	letter-spacing: 1.2rem;
	padding-left: 1.2rem;
	line-height: 3.5rem;
	font-weight: bold;
	font-size: 1.6rem;
	text-align: center;
	border: 0;
	color: #8c6239;
	background-color: #fff;
}


/***** work02-col2-flex *****/

.work02 .work-group {
	background-color: #f5f2ee;
}

.work02 .col2-flex {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.work02 .col2-flex h4 {
	flex: 1;
	width: 80%;
	display: flex;
	aspect-ratio: 1 / 1;
	align-items: center;
	justify-content: center;
	letter-spacing: 1.5rem;
	padding-left: 1.5rem;
	line-height: 4.5rem;
	font-weight: bold;
	font-size: 2rem;
	color: #8c6239;
	background-color: #fff;
}

.work02 .col2-flex ul,
.work02 .col2-flex p {
	flex: 2;
}


/***** work02-col2-grid *****/

.work02 .col2-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	place-items: center;
	background-color: #f5f2ee;

}


.work02 .col2-grid dl {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	background-color: #fff;
}





/* ---------------------------------------*/
/* sp */
/* ---------------------------------------*/

@media(max-width: 767px){


}